/* 4 CSS Externo */
body {
    padding: 10px;
    text-align: center;
}

h3 {
    background-size: cover;
    display: inline-block;
    padding: 3px;
    background-color: cadetblue;
    border-radius: 7px;
    text-align: center;
}

/* Classes */
.paragraph {
    background-color: rgb(54, 37, 163);
    color: rgb(255, 0, 200);
    padding: 5px;
    border-radius: 6px;
    display: inline-block;
}

/* IDs */
#exclusive-title {
    background-color: blue;
    color: rgb(230, 8, 242);
    display: inline-block;
    border-radius: 6px;
    padding: 5px;
}

/* Ordem das regras */
h2 {
    border-bottom: 3px solid blue;
}
.titulo {
    border-bottom: 3px solid yellow;
}
#algum-titulo {
    border-bottom:3px solid green;
}

/* Nome de cores */
.color-name { 
    color:crimson;
}

/* Hex */
.hex {
    color: #707; /* Se os dois valores de uma mesma cor se repetir, ex: #770077, dá pra simplificar em um número por cor, ex: #707 */
}

/* RGB */
.rgb {
    color: rgb(60, 0, 130);
}

/* RGBA */
.rgba {
    color: rgb(200, 150, 180, .35);
}

/* HSL */
.hsl {
    color: hsl(190, 100%, 58%);
}

/* Mudando o background */
.bg {
    background-color: #000;
    color: cadetblue;
}

.bg-2 {
    background-color: rgb(255, 255, 0);
    color: #00eeaa;
}

/* Mudando a opacidade do background */
.bg-opacity {
    background-color: #732;
    opacity: 0.7;
}

/* Mudando a opacidade do background com RGBA*/
.rgba-opacity {
    background-color: rgba(30, 50, 230, .25);
    color: #000;
    display: inline-block;
    border-radius: 35px;
}

/* Background-image */
.bg-image {
    background-image: url("../img/ceu.png");
    color: #fff;
    padding: 15px;
    display: inline-block;
    border-radius: 35px;
    padding: 15px;
}

/* Centralizando background image */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../img/ceu.png");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Largura e Altura */
.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    height: 200px;
    background-color: cadetblue;
}

/* Padding */
.without-padding,
.padding {
   background-color: #111;
   color: #fff; 
}

.padding {
    background-color: #333;
    padding: 20px;
}

/* Padding Individual */
.padding-individual {
    background-color: #333;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* Shorthand Padding */
.shorthand-padding {
    background-color: #222;
    padding: 10px 5px 10px 15px;
}

.shorthand-padding-2 {
    background-color: #444;
    padding: 10px 20px; /* 10px no top e bottom, 20px no right e left */
}

/* Padding com width */
.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #666;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Borda */
.border,
.border-2 {
    border: 5px solid cadetblue;
    padding: 5px;
}

.border-2 {
    border: 10px dotted rgb(37, 47, 183);
    padding: 10px;
}

/* Borda Individual */
.border-left {
    border-left: 5px solid blueviolet;
    background-color: #222;
    padding: 25px;
}

.border-bottom {
    border-bottom: 5px double blueviolet;
    background-color: #222;
    padding: 20px;
}

/* Borda arredondada */

.rounded-p {
    border: 5px solid purple;
    background-color: rgb(64, 4, 42);
    padding: 15px;
    border-radius: 25px;
}

.rounded-p-2 {
    background-color: rgb(64, 4, 42);
    padding: 15px;
    border-radius: 25px;
}

/* Margin */
.margin {
    margin: 10px;
    background-color: #222;
}

.margin-top {
    margin-top: 50px;
    background: #444;
    padding: 10px;
}

.margin-shorthand {
    background-color: #666;
    margin: 5px 10px 15px 20px;
}

/* Box Model */
.box-model { 
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 400px;
}

/* Text alignment */
.text-aligned {
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 1px solid red;
}

/* Text Decoration */
.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: #182;
}

/* Text Transform */
.upper { 
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/* Letter Spacing */
.spacing {
    letter-spacing: 20px;
}

/* Fontes */
.serif {
    font-family: Georgia;
}

.sans-serif {
    font-family: Helvetica;
}

.monospace {
    font-family: "Courier New";
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

/* Font Style */
.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

/* Font Weight */
.thin, .bold, .bolder {
    font-family: Helvetica;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

/* Font Size */
.small {
    font-size: 6px;
}

.big {
    font-size: 88px;
}

/* Display */
.inline-box {
    width: 50px;
    height: 50px;
    background: #4f8;
    margin: 10px;
    display: inline-block;
}

.block {
    background-color: #333;
    display: block;
    margin: 10px;
}

/* Escondendo Elementos */
.invisible {
    margin-top: 15px;
    display: block;
}

/* Static */
.static {
    width: 100px;
    height: 100px;
    background-color: #391;
    color: #fff;
    position: static;
}

/* Relative */
.relative {
    width: 100px;
    height: 100px;
    background-color: #224;
    color: #fff;
    position: relative;
    top: 10px;
    bottom: 5px;
    right: -150px;
}

/* Absolute */
.absolute {
    width: 100px;
    height: 100px;
    background-color: #474;
    color: #fff;
    position: absolute;
    top: 2px;
    right: 2px;
}

/* Relative com Absolute */
.relative-container {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-1,
.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #422;
    position: absolute;
}

.absolute-1 {
    top: 10px;
    left: 10px;
}

.absolute-2 {
    bottom: 10px;
    right: 10px;
}